<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- prettier-ignore -->
<%- messages() %>

<!-- prettier-ignore -->
<%- details %>

<!-- prettier-ignore -->
<%- commentList %>

<% if (locals.loggedin == 1) { %>
<section class="add-comment-form">
    <h1>Add comment</h1>
    <form action="/comments/add-comment" method="post">
        <label>
            Comment:
            <textarea name="comment_text" required>
<%- locals.comment_text %></textarea
            >
        </label>
        <input type="hidden" name="inv_id" value="<%- locals.inv_id %>" />
        <input
            type="hidden"
            name="account_id"
            value="<%- locals.account_id %>"
        />

        <button type="submit">Add Comment</button>
    </form>
</section>
<% } else { %>
<p>You must be logged in to add comments.</p>
<p><a href="/account/login">Log In.</a></p>
<% } %>

<script src="/js/item.js"></script>
